{% extends 'base.html' %}

{% block title %}
Password Reset Done
{% endblock title %}

{% block content %}
<div class="container ml-4">
  <div class="jumbotron">
    <p class="lead">Ссылка на сброс отправлена</p>
    <hr class="my-4">
    <p>
      Мы отправили вам&nbsp;инструкцию по&nbsp;установке нового пароля на&nbsp;указанный адрес электронной почты
      (если в&nbsp;нашей базе данных есть такой адрес).
      Вы&nbsp;должны получить ее&nbsp;в ближайшее время.
      Если вы&nbsp;не получили письмо, пожалуйста, убедитесь, что&nbsp;вы ввели адрес с&nbsp;которым
      Вы&nbsp;зарегистрировались,
      и&nbsp;проверьте папку со&nbsp;спамом.
    </p>
    <p class="lead">
      <a class="btn btn-primary" href="{% url 'mainapp:index' %}" role="button"> На главную </a>
    </p>
  </div>
</div>
{% endblock content %}